PORT=4000

PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=atena_crm_dev
PG_USER=atena_app
PG_PASSWORD=yourpassword

JWT_SECRET=change-this-to-a-random-secret-string

ADMIN_PASSWORD=admin123
DEFAULT_USER_PASSWORD=Atena@1234
